/* Cambios de colores */
body {
  background-color: white; /* Cambia el color de fondo del cuerpo */
  color: #333; /* Cambia el color del texto principal */
}

header {
  background-color: #444; /* Cambia el color de fondo del encabezado */
  color: #fff; /* Cambia el color del texto del encabezado */
}

nav ul li a {
  color: #eee; /* Cambia el color de los enlaces del menú */
}

article {
  background-color: #fafafa; /* Cambia el color de fondo del área del artículo */
  border-radius: 8px; /* Modifica el radio del borde del artículo */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Modifica la sombra del artículo */
}

article h2 {
  color: #14c96e; /* Cambia el color del título del artículo */
}

article p {
  color: #444; /* Cambia el color del texto del artículo */
}


/* Estilos para la clase .cabecera */
.cabecera {
  background-color: #67b26f; /* Cambia el color de fondo de la cabecera */
  padding: 20px; /* Agrega espacio interno a la cabecera */
  text-align: center; /* Centra el texto dentro de la cabecera */
  margin-bottom: 20px; /* Añade un margen en la parte inferior de la cabecera */
  border-radius: 8px; /* Añade bordes redondeados a la cabecera */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Añade sombra a la cabecera */
  color: #fff; /* Cambia el color del texto dentro de la cabecera */
}

.cabecera h1 {
  font-size: 28px; /* Ajusta el tamaño de la fuente del título de la cabecera */
  margin-bottom: 10px; /* Añade un margen en la parte inferior del título */
}

/* Estilos para el footer */
footer {
  background-color: #222; /* Cambia el color de fondo del pie de página */
  color: #fff; /* Cambia el color del texto del pie de página */
  padding: 30px; /* Agrega espacio interno al footer */
  text-align: center; /* Centra el contenido del footer */
  font-size: 18px; /* Ajusta el tamaño de la fuente */
  line-height: 1.5; /* Ajusta la altura de línea para centrar verticalmente */
}

footer p {
  margin: 0; /* Elimina el margen predeterminado del párrafo */
}

/* Efecto al pasar el ratón sobre el footer */
footer:hover {
  background-color: #111; /* Cambia el color de fondo al pasar el ratón por encima */
  transition: background-color 0.3s; /* Agrega una transición suave al color de fondo */
}
