/* Cambios de colores */
body {
  background-color: #f2f2f2; /* Cambia el color de fondo del cuerpo */
  color: #333; /* Cambia el color del texto principal */
}

header {
  background-color: #444; /* Cambia el color de fondo del encabezado */
  color: #fff; /* Cambia el color del texto del encabezado */
}

nav ul li a {
  color: #eee; /* Cambia el color de los enlaces del menú */
}

article {
  background-color: #fafafa; /* Cambia el color de fondo del área del artículo */
  border-radius: 8px; /* Modifica el radio del borde del artículo */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Modifica la sombra del artículo */
}

article h2 {
  color: #14c96e; /* Cambia el color del título del artículo */
}

article p {
  color: #444; /* Cambia el color del texto del artículo */
}

footer {
  background-color: #222; /* Cambia el color de fondo del pie de página */
  color: #fff; /* Cambia el color del texto del pie de página */
}
